section.background {
  margin: 0;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: auto;
}

section .grid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 1.7em 1.5em;
}

section .grid h1 {
  color: var(--clr-white);
  font-size: 2.7em;
  text-align: center;
}

section .grid p {
  font-size: 1em;
  color: #ccc;
  width:auto;
  line-height: 1.7;
  padding-top: 1.2em;
  text-align: center;
}

section .grid a {
  font-size: 0.9em;
  font-weight: bold;
  color: var(--clr-primary);
  padding-top: 1.3em;
  text-align: center;
}

section .grid a:hover {
  opacity: 0.8;
}

section .grid .center {
  padding: 1.3em;
  }

section .grid .center #popular, section .grid .center i{
  font-size: 1.1em;
  font-weight: bold;
  color: var(--clr-white);
}

section .grid .center i
 {
  margin-right: 8px;
  color: var(--clr-primary);
  display: inline-block;
}

.dark-bg1 {background-color: var(--clr-dark);}

.dark-bg2 {background-color: var(--clr-dark-light);}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.movies hr{
  margin: 0 auto;
  position: relative;
  top: -0.6em;
  width: 88%;
  opacity: 0.3;
}


.movies .center .movies-container  {
  padding: 1.3em 4.6em;
  display: grid;
  grid-template-columns:repeat(4,1fr);
  gap: 3em;
  position: relative;
}


.movies .center .movies-container .movie-item .movie-image img {
  max-width: 95%;
  height: auto;
  border: 5px solid #fff;
  border-radius: 5px;
  position: relative;

}


.movies .center .movies-container .movie-item .movie-image img:hover {
  -webkit-filter: brightness(60%);
  border-color: var(--clr-primary) !important;
}


.movies .center .movies-container .movie-item .movie-image .hover-box {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  visibility: hidden;
  flex-wrap: wrap;
}


.movies .center .movies-container .movie-item .movie-image .hover-box .movie-genre {
  font-size: 1.8em;
  font-weight: bold;
  color: var(--clr-white) !important;
  text-align: center;
  line-height: 1.5;
}

.movies .center .movies-container .movie-item .movie-image:hover .hover-box i{
  color: var(--clr-primary);
  z-index: 11;
  font-size: 1.5em;
  visibility: visible;
  margin-top: 6em;
  margin-bottom: 0.8em;

}

.movies .center .movies-container .movie-item .movie-image:hover .hover-box .movie-rating{
  visibility: visible!important;
  font-size: 1.8em;
  font-weight: bold;
  color: var(--clr-white) !important;
  text-align: center;
  margin-bottom: 1em;
}

.movies .center .movies-container .movie-item .movie-image:hover .hover-box .movie-genre{
  margin-bottom: 1em;
  visibility: visible!important;
}

.movies .center .movies-container .movie-item .movie-image:hover .hover-box .green-btn {
  visibility: visible;
  margin-top: 1.3em;
  width: 150px;
  padding: 0.5em 0.9em;
  color: var(--clr-white);
  font-size: 1.2em;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  word-wrap: normal;
  background-color: var(--clr-primary);
  cursor: pointer;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms ease;
  transition-delay: 100ms;

  }

.movies .center .movies-container .movie-item .movie-image .hover-box .green-btn:hover {
  background-color: var(--clr-primary-hover);
  }


.movies-container .movie-item p {
  margin: 0px 0;
  margin-top: -2px;
  color: #919191 !important;
  font-size: 0.85em;
  position: relative;
  top: 0px;
  left:2px;
}

.movies-container .movie-item a {
  color: var(--clr-white);
  display: block;
  font-weight: bold;
  margin: 0;
  font-size: 0.9em;
  -webkit-transition: color .15s ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  position: relative;
  top: -2px;
  left:2px;
}

.movies-container .movie-item :hover {
  color: var(--clr-secondary);
}


.movies #latest-text  {
  margin: 0;
  padding-top: 30px;
  padding-left: 5.8em;
  position: relative;
  color: var(--clr-white);
  font-size: 1.15em;
  font-weight: 700;
}


@media only screen and (max-width:1100px) {
.movies .center .movies-container  {
  padding: 2em 4.5em !important;
}

.movies .center .movies-container .movie-item .movie-image:hover .hover-box .movie-rating,
.movies .center .movies-container .movie-item .movie-image:hover .hover-box .movie-genre{
  font-size: 1.4em;
  }

.movies #latest-text  {
  padding-left: 4.5em;}
}


@media only screen and (max-width:1023px) {

.movies .center .movies-container  {
  padding: 2em 1.5em !important;
  gap: 1.5em;
  }

.movies .center .movies-container .movie-item {
  margin: 0;
  padding: 0;
  }

.movies #latest-text  {
  padding-left: 2em;}
}


@media only screen and (max-width:991px) {

section .grid {
  padding: 1.1em 1em;
}
section .grid h1{
  font-size: 2.3em;
}

section .grid #popular, section .grid i{
  font-size: 1.1em;
  font-weight: bold;
  text-align: center;
  padding-top: 0.4em;
}

.movies .center .movies-container  {
  padding: 2em 1.3em !important;
  }

.movies .center .movies-container .movie-item .movie-image .hover-box {display: none;}

.movies .center .movies-container .movie-item .movie-image img:hover {
  -webkit-filter: brightness(100%);
  }

.movies #latest-text  {
    padding-left: 1.3em;}

}


@media only screen and (max-width:820px) {

section .grid h1{
    font-size: 2em;
  }

.movies .center .movies-container  {
    padding: 2em 1.2em !important;
    grid-template-columns:repeat(3,1fr);
    column-gap: 2.5em;
    row-gap: 1.5em;
    }

.movies #latest-text  {
    padding-left: 1em;}
}

@media only screen and (max-width:767px) {

section .grid h1{
    font-size: 1.8em;
  }

  hr{width: 100%;
  display: block;}

.movies .center .movies-container  {
    padding: 2em 0.6em !important;
    grid-template-columns:repeat(2,1fr);
    column-gap: 4.5em;
    row-gap: 1.5em;
    margin: 0;
  }

.movies #latest-text  {
    padding-left: 0.8em;}
}


@media only screen and (max-width:695px)
{
section .grid h1{
    font-size: 1.5em;
  }

.movies #latest-text {
    padding-left: 1em;
    font-size: 1.05em;
  }

}

@media only screen and (max-width: 550px) {

section .grid h1 {
    font-size: 1.2em;
  }

section .grid p {
    font-size: 0.9em;
    font-weight: bold;
    padding-top: 1em;
  }

section .grid a {
    padding-top: 0.85em;
    font-size: 0.9em;
  }

section .grid .center {
    padding-top: 0.8em;
    padding-bottom: 0.3em;
  }

}


@media only screen and (max-width:500px) {

.movies .center .movies-container {
        column-gap: 2.2em;
        row-gap: 1.8em;
  }

}


@media only screen and (max-width:360px)
{

  section .grid h1 {
      font-size: 1em;
  }

  .movies .center .movies-container  {
        grid-template-columns:1fr;
        row-gap: 2em;}
  }


}
