section.dark-bg-image {
  margin: 0;
  background-color: var(--clr-dark-light);
  background-image: url("../images/Soft-Blue-Wallpaper.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  padding-bottom: 2em;
}

.dark-bg-image .login-box {
  display: grid;
  grid-template-columns:repeat(1,1fr);
  padding: 2em 6em;
  width: 30em;
}

.dark-bg-image #login-text  {
  margin-top: 0.5em;
  padding-bottom: 40px;
  color: var(--clr-primary);
  font-size: 2em;
  font-weight: 500;
}

.dark-bg-image  .login-box .username-box, .dark-bg-image  .login-box .password-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.dark-bg-image  .login-box .login-box-text {
  padding-bottom: 0;
  padding: 0;
  color: #969696;
  font-weight: bold;
  font-size: 0.95em;
  position: relative;
  top: 0.7em;

}

.dark-bg-image  .login-box .username-box, .dark-bg-image  .login-box .password-box {

}

.dark-bg-image  .login-box .username-box input, .dark-bg-image  .login-box .password-box input {
  margin-top: 0em;
  margin-bottom: 1em;
  color: #969696;
  background-color: #282828;
  font-weight: normal;
  font-size: 0.95em;
  max-width: auto;
  padding: 0.7em 2em;
  border-radius: 3px;
  outline: none;
  border: none;
}

.login-box .username-box i , .login-box .password-box i {
  display:flex;
  justify-content: space-between;
  position:relative;
  top: 1.7em;
  left: 0.5em;
  color: #E3E3E3;
  width: 24px;
  height: auto;
  margin: 0;
  padding: 0;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms ease;
}

.username-box:hover > i, .username-box:active > i, .username-box:focus > i,
.password-box:hover > i, .password-box:active > i, .password-box:focus > i
 {
color: var(--clr-primary) !important;
}

.dark-bg-image .additional-functions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:0;
  margin: 0;
}

.dark-bg-image .additional-functions > a {
  padding: 0.6em 0.9em;
  margin-top: 0.3em;
  color: var(--clr-white);
  font-size: 16px;
  font-weight: bold;
  border: none;
  text-align: center;
  border-radius: 3px;
  word-wrap: normal;
  background-color: var(--clr-primary);
  cursor: pointer;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms ease;
  transition-delay: 100ms;
}

.dark-bg-image .additional-functions > a:hover {
  background-color: var(--clr-primary-hover);

}

.dark-bg-image .additional-functions .links a {
  color: var(--clr-white);
  display: block;
  padding-bottom: 0.7em;
  font-size: 0.95em;
  font-weight: 500;
  cursor: pointer;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms ease;
  transition-delay: 100ms;
}



.dark-bg-image .additional-functions .links a:first-child {
  margin-top: 1.2em;
}


.additional-functions .links a:hover {
  color: var(--clr-primary);
  }



@media only screen and (max-width:670px) {

  .dark-bg-image .login-box {
    display: flex;
    justify-content: center !important;
    flex-direction: column;
    align-items: center;
    padding: 2em 2em;
    width: auto;
  }

  .dark-bg-image .additional-functions {
    display: flex;
    justify-content: center;
    flex-direction:column-reverse;
    align-items: center;
  }


.dark-bg-image  .login-box .username-box input, .dark-bg-image  .login-box .password-box input {
    width: 26em;
  }

}


@media only screen and (max-width:480px)
{

  .dark-bg-image  .login-box .username-box input, .dark-bg-image  .login-box .password-box input {
      width: 20em;
    }

  }

@media only screen and (max-width:380px)
  {

    .dark-bg-image  .login-box .username-box input, .dark-bg-image  .login-box .password-box input {
        width: 15em;
      }

    }

@media only screen and (max-width:300px)
    {

      .dark-bg-image  .login-box .username-box input, .dark-bg-image  .login-box .password-box input {
          width: 10em;
        }

      }

      @media only screen and (max-width:230px)
          {

            .dark-bg-image #login-text  {
              font-size: 1.4em;
            }


            .dark-bg-image  .login-box .username-box input, .dark-bg-image  .login-box .password-box input {
                width: 8em;
              }

            }
